@import '../../App.scss';

// $color: (
//     primary: (#ffa45b),
//     secondary: (#f4f4f4),
//     primary-accent:(#5e6d6d),
//     text-color:(#ffffff)
//     );

// @function color($color-name){
//     @return map-get($color, $color-name)
// }

.website-container{
    margin:0px;
    display: grid;
    grid-template: 770px 800px 100px / 500px auto 500px;
    //grid-template-rows: 400px 200px 100px;
    grid-gap:4px;
    height: 150vh;
}

.main-nav{
    margin-top: -180px;
    background-color:color(primary-accent);
    grid-column: -1 /1;
    width: 1366px;
    box-shadow: 0 8px 6px -8px rgb(70, 70, 70);
    position: fixed;

    .companyLogo{
        width: 300px;
        height: 200px;
        background-repeat: no-repeat;
        position: relative;
        top: 140px;
        left: 6px;
        //border: 3px solid #f57a4d;
        //border-radius: 40%;
        background: url('../../home-images/cLogo_1.png');
        //background-color: #468485;
    }

}

ul{
    margin-left: 820px;
    padding-bottom: 15px;

    li{
        font-size: 18px;
        color: color(text-color);
        text-align: center;
        list-style: none;
        display: inline;
        padding: 45px;
        cursor: pointer;
        
    }
}

.image-slider{
    margin-top: 90px;   
    background: url('../../home-images/dance.svg');
    margin-left: 180px;

   // background-color: #758033;
    grid-column: 1 / -1;
    background-repeat: no-repeat;
    padding-bottom: 20px;


}

.profile-section{
    background-color: #f9eee2;
    grid-column: 1 / -1;
    margin-top: -146px;
}

footer{
    background: color(primary-dark);
    grid-column: 1 / -1;   
    height: 40vh; 
}




